/* Background color of the whole page */

body {
  background-color: whitesmoke;
}

/* Navigation bar */

ul {
  border: hidden;
  border-radius: 0.3em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

#panier {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hotpink;
}

/* Image displaying */

section {
  display: flex;
  flex-shrink: auto;
  margin: auto;
  max-width: 75%;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* Titles */

h2 {
  max-width: 80%;
  margin: auto;
}

h3 {
  max-width: 75%;
  margin: auto;
}

/* Phone users */

@media (max-width: 1024px) {
  section {
    display: flex;
    flex-shrink: auto;
    margin: auto;
    max-width: 100%;
  }
  h2 {
    max-width: 100%;
    margin: auto;
  }
  h3 {
    max-width: 100%;
    margin: auto;
  }
}